/* Shared common styles */
body {
        font-family: 'Inter', sans-serif;
        margin-left: 110px;
        margin-bottom: 50px;
}


/* header section styles */
.banner {
        width: 1320px;
        height: 600px;
        background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../Images/Banner\ Image.png);
        border-radius: 16px;
        background-repeat: no-repeat;
        margin-bottom: 200px;

}

.banner-title {

        text-align: center;
        color: #fff;
        padding-top: 100px;
}

.banner-title-up {
        font-family: Merriweather;
        font-size: 32px;
        font-weight: 400;
}

.banner-title-low {
        font-family: Merriweather;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
}

/* main section styles */
.offer {
        text-align: center;
        margin-bottom: 200px;

}

.off {
        color: #f32611;
        font-size: 88px;
        font-weight: 700;
}

.offer-description {
        color: #f32611;
        font-size: 54;
        font-weight: 500;
}

.categories {
        font-size: 48px;
        font-weight: 700;
}

.offer-img {
        width: 802.9px;
        height: 500px;
}


.greeting-section {
        width: 1320px;
        height: 600px;
        border-radius: 16px;
        background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../Images/Vectorrr.png);
        background-repeat: no-repeat;
        justify-content: center;
        background-position: center;
        position: absolute;
        margin-bottom: 200px;


}

.greeting-title {
        color: #fff;
        padding: 10% 0px 0px 10%;
        letter-spacing: 7.04px;
        font-family: Merriweather;
        font-size: 64px;
        font-weight: 900;
        max-width: 600px;
}

.greeting-img {
        position: relative;
        display: block;
        margin-left: auto;
        padding-top: 68.11px;
        padding-right: 138px;
        opacity: 0.8;
}

.greeting-description {
        color: rgba(255, 255, 255, 0.80);
        padding: 0 0 0 10%;
        max-width: 700px;


}
.greeting-btn{
        margin: 48px 0 0 158px;
        background: none;
        color:#fff;
        border: 1px solid #fff;
        border-radius: 5px;
        padding:10px
}